div(class="page-header")
   h3 Room Detail
   //button(class="btn btn-default" type="button" ng-click="addUser()") Add User


.panel.panel-default
   .panel-heading Room: {{room.id}} | {{room.name}}
   .panel-body
      ul(class="list-group" ng-repeat="message in messages")
         li(class="list-group-item") {{message.roomid}} | {{message.content}}
            button(ng-click="deleteMessage(message.id)")

   .panel-footer
      .input-group
         input(type="text" class="form-control" ng-model="newMessage" placeholder="type message ...")
         span(class="input-group-btn")
            button(class="btn btn-default" type="button" ng-click="addMessage()") Send

.panel.panel-default
   .panel-heading Members |
      a(ui-sref="selectFriends({roomId : room.id, ownerId: room.userid})") Add Friends
   .panel-body
      ul(class="list-group" ng-repeat="member in members")
         li(class="list-group-item") {{member.id}} | {{member.user.username}}
            button(ng-click="deleteMember(member.id)")




