div(class="page-header")
   h3 Room Detail
   button(class="btn btn-default" type="button" ng-click="addUser()") Add User


div(class="panel panel-default")
   div(class="panel-heading")='Room: {{room.id}} | {{room.name}}'
   div(class="panel-body")
      ul(class="list-group" ng-repeat="message in messages")
         li(class="list-group-item") {{message.roomid}} | {{message.content}}
            button(ng-click="deleteMessage(message.id)")

   .panel-footer
      .input-group
         input(type="text" class="form-control" ng-model="newMessage" placeholder="type message ...")
         span(class="input-group-btn")
            button(class="btn btn-default" type="button" ng-click="addMessage()") Send

script(type="text/ng-template" id="addUser.html")
   .modal-header
      h4 Invite User
   .modal-body
      p This is modal body
   .modal-footer
      button(class="btn btn-success" ng-click="done()") Invite
      button(class="btn" ng-click="cancel()") Cancel


