div(class="page-header")
   h3 Rooms
   button(class="btn btn-default" type="button" ng-click="addRoom()") Add Room

div(class="panel panel-default")
   div(class="panel-heading")='Rooms: {{rooms.length}}'
   div(class="panel-body")
      .table-responsive
         table(class="table")
            tr(ng-repeat="room in rooms")
               td
                  a(ui-sref="roomDetail({roomId : room.id})") {{room.name}}
               td ({{room.id}})
               td(align="right")
                  button(ng-click="deleteRoom(room.id)" class="btn btn-default" aria-label="Right Align" align="right")
                     span(class="glyphicon glyphicon-remove-circle" aria-hidden="true")

script(type="text/ng-template" id="addRoom.html")
   .modal-header
      h4 Add a Room
   .modal-body
      form(class="form-inline")
         div(class="form-group" )
            input(ng-model="roomName" class="form-control" placeholder="Room Name" align="left")

   .modal-footer
      button(class="btn btn-success" ng-click="done()") Invite
      button(class="btn" ng-click="cancel()") Cancel